/* Custom properties */

:root {
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --max-width: 1200px;
  --height-h: 4rem;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.606);
}

/* reset */
html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  caret-color: transparent;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1rem;
}

li {
  list-style-type: none;
}

.video-capa video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* Utilities */

.box-shadow-1 {
  box-shadow: var(--box-shadow);
}

/* Carrousel */

.carrousel {
  margin-left: 20%;
  margin-top: 38vh;
  width: 65%;
  max-width: 120rem;
  padding: 0.5rem;
  transition: all 0.4s ease;
  /* border-radius: 1rem; */
  /* box-shadow: var(--box-shadow); */
  overflow: hidden;
  /* background-image: linear-gradient(to right, #000000d3 0%, #fb00ff2a 100%); */
}

.carrousel .contenedor-grande {
  width: 210%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease;
  border-radius: 1rem;
  transition: all 0.5s ease;
  transform: translateX((0%));
}

.carrousel .img {
  width: calc(200% / 2 - 0.8rem);
  min-height: 5vh;
  margin-bottom: -3rem;
  transition: all 0.4s ease;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: flex-end;
}
.carrousel .puntos {
  position: relative;
  z-index: 9;
  width: 100%;
  margin: 1rem 0 0;
  padding: 0.3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.carrousel .punto {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0rem 1.5rem 0;
  transition: all 0.4s ease;
  border-radius: 1rem;
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.471) 0%,
      rgba(0, 0, 0, 0.885) 200%
    );
  background-blend-mode: multiply;

  border: thin solid black;
}

.carrousel .puntos .activo {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

*/ .container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.none {
  display: none;
}

/* fin carrousel */

/* cursor */

.main-cursor {
  height: 10vh;
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#cursor {
  background-color: rgba(0, 0, 0, 0.469);
  position: relative;
  width: 45px;
  height: 78px;
  border: 2px solid rgba(255, 255, 255, 0.447);
  border-radius: 40px;
}

#cursor:after {
  position: absolute;
  top: 15px;
  width: 10px;
  height: 20px;
  content: "";
  background-color: rgba(255, 255, 255, 0.784);
  left: calc(50% - 5px);
  border-radius: 10px;
  animation: mouse 2s infinite;
  box-shadow: var(--box-shadow);
}

@keyframes mouse {
  0% {
    opacity: 1;
    top: 10px;
  }
  100% {
    opacity: 0;
    top: 60px;
  }
}

/* **************** HOME *************** */

/* .hero-video-opacity {
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--opacity-color);
} */
.btn-top {
  display: flex;
  justify-content: space-evenly;
}
.btn-top a {
  display: flex;
  justify-content: center;
}

.hero-image-content {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.btn-top .N {
  width: 3.3rem;
  height: 4.5rem;
}
.btn-top .jk {
  width: 5rem;
}
.btn-top .C {
  width: 5rem;
  height: 5.5rem;
}

.hero-image-title {
  height: 100vh;
  position: absolute;
  z-index: -1;
}

/* Site Styles */

.logo a img {
  margin-top: -5rem;
  width: 6rem;
  height: 6rem;
  z-index: 999;
  position: relative;
}
.header {
  position: fixed;
  left: 0;
  bottom: 3rem;
  z-index: 999;
  padding: 0.4rem;
  width: 100%;
  height: var(--height-h);
  background-color: transparent;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home {
  height: 100vh;
}

.header .menu {
  display: flex;
  justify-content: right;
}

.menu {
  top: 0;
  left: 0;
  height: 200vh;
  position: fixed;
  /* bottom: var(--height-h); */
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(45deg, #8baaaa0c 0%, #000000b4 100%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}
.menu img {
  padding: auto;
  width: 75%;
}
.menu a {
  padding: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.menu-btn {
  border-style: none;
  background-color: transparent;
}

.menu-btn img {
  position: relative;
  z-index: 99;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
}

/************ sec about *********/
.about-1 {
  height: 100vh;
}
.boton-img {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.cta img {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.modal-textos {
  background: linear-gradient(to top, #dfe9f3 0%, rgb(230, 225, 225) 100%);
  text-align: left;
  font-size: 1.2rem;
  padding: 1rem;
  height: 15rem;
  overflow-y: auto;
}
.modal-textos::-webkit-scrollbar {
  width: 0.3rem;
  background: linear-gradient(to top, #bd0e4b 0%, #fee120 90%);
}
.modal-textos::-webkit-scrollbar-thumb {
  background: #000000;
}

#span-sinopsis {
  font-size: 1.5rem;
  border-right: 0.3rem solid #f69165;
  border-radius: 0.3rem;
  margin: 0;
  background: -webkit-linear-gradient(yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;
}

.modal-container {
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: auto; */
}

.modal {
  width: 90%;
  height: 70%;
  background: linear-gradient(-60deg, #000000 0%, #f2550094 100%);
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  transition: transform 1s;
  transform: translateY(0%);
}

.close-about {
  position: absolute;
  z-index: 999;
  font-size: 2.5rem;
  height: 3rem;
  width: 3rem;
  color: #000000;

  border: thin solid rgb(0, 0, 0);
  border-radius: 50%;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  top: 0.4rem;
  right: 0.6rem;
  text-align: center;
}

.close-about:hover {
  font-size: 2.4rem;
  height: 2.9rem;
  width: 2.9rem;

  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );

  cursor: pointer;
  text-align: center;
}

.modal-close {
  transform: translateY(-200%);
}

.modal-C {
  margin-top: -5%;
  width: 100%;
  height: 40%;
  background-size: cover;
  overflow-y: scroll;
}

.modal-C img {
  margin-top: -5%;
  width: 100%;
  background-size: cover;
}
.modal-C::-webkit-scrollbar {
  width: 0.3rem;
  background: linear-gradient(to top, #bd0e4b 0%, #fee120 90%);
}
.modal-C::-webkit-scrollbar-thumb {
  background: #000000;
}

section img:hover {
  opacity: 0.8;
}

.modal-container .link {
  text-decoration: none;
}

.image-content-about {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.image-content-about img {
  height: 100vh;
  position: absolute;
  z-index: -1;
}

/* ************Capitulos************ */

#screen {
  background-image: url(assets/ventana.jpg);
  position: fixed;
  z-index: 9995;
  top: -280px;
  left: 0;
  width: 100vw;
  height: 10vh;
  transform: skewY(-10deg);
  transform: all 0.45s;
  animation-timing-function: linear;
  animation-duration: 2s;
}
#details-container {
  background-image: url(assets/ventana.jpg);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9991;
  overflow: auto;
  display: none;
}

#details-container .nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.item-hide {
  display: none;
}
.main-video {
  width: 100%;
}

.nav-buttons {
  display: flex;
  align-items: center;
  margin-left: 7.5rem;
}
.nav-buttons img {
  width: 35%;
}

#details-container .title {
  text-align: center;
  color: #f6f6f6;
}
#details-container h2 {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.capitulos .titulo-Capitulos {
  display: flex;
  flex-direction: row-reverse;
  margin-top: -5%;
  padding-bottom: 5%;
}
.titulo-Capitulos img {
  margin-top: 50%;
  width: 100%;
}

.work {
  padding-top: 150px;
  transform-origin: 0 0;
  transform: skewY(-10deg);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0;
}

.grid .item {
  padding: 0;
  position: relative;
  overflow: hidden;
  height: 300px;
}

.grid .item img {
  width: 101%;
  margin-top: -60px;
  transform: skewY(10deg) scale(1, 1);
  transition: all 0.05s;
}

.grid .item:hover img {
  transform: skewY(10deg) scale(1.2, 1.2);
}
.grid .item .bg-hover {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 150%;
  display: grid;
  position: absolute;
  z-index: 2;
  top: -25%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transform: skewY(10deg) scale(1, 1);
  justify-items: center;
  align-items: center;
  text-align: center;
}
.grid .item .bg-hover:hover {
  overflow: hidden;
  opacity: 1;
}
.grid .item .bg-hover .info {
  animation-name: bounce;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}
.grid .item .bg-hover .title {
  color: #fff;
}
.grid .item .bg-hover .customer {
  color: aqua;
}

/* keyframe de Capitulos */

@keyframes bounce {
  0% {
    transform: translateY(900px);
  }
  80% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    height: 0vh;
  }
  50% {
    height: 150vh;
  }
  100% {
    height: 0vh;
  }
}

/**************** footer ************ */

.footer {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #000;
}

.footer-2 {
  height: 50vh;
  width: 100vw;
  transform-origin: 0;
  transform: skewY(-10deg);
  background-color: rgb(0, 0, 0);
}
.description a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: red;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  transform: skewY(10deg);
  padding-top: 15%;
}

.description img {
  width: 50%;
}
.description p {
  text-align: center;
  color: #f6d365;
  font-size: 2rem;
}

@media screen and (min-width: 320px) {
  /* main header  */

  .hero-image-title {
    margin-left: -33%;
  }

  /* about */

  .image-content-about {
    margin-right: -33%;
  }

  /* capitulos  */
  .capitulos {
    padding-top: 5%;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .grid .item {
    height: 110px;
  }
}

@media screen and (min-width: 385px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .grid .item {
    height: 151px;
  }
}

@media screen and (min-width: 415px) {
  .grid .item {
    height: 171px;
  }
}

@media screen and (min-width: 475px) {
  .grid .item {
    height: 205px;
  }
}

@media screen and (min-width: 515px) {
  .grid .item {
    height: 230px;
  }
}

@media screen and (min-width: 550px) {
  .grid .item {
    height: 250px;
  }
}

@media screen and (min-width: 615px) {
  .grid .item {
    height: 290px;
  }
}

@media screen and (min-width: 690px) {
  .grid .item {
    height: 330px;
  }
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .grid .item {
    height: 165px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    position: sticky;
    top: 0;
  }

  .logo a img {
    position: sticky;
    margin-bottom: -6rem;
    width: 8rem;
    height: 8rem;
  }

  .menu {
    border: thick solid #000;
    width: 80%;
    left: 1rem;
    right: 1rem;
    align-content: center;
    margin: auto;
    top: var(--height-h);
    height: 70vh;
  }

  .hero-image-content img {
    width: 100%;
    height: 100vh;
    padding-bottom: 1rem;
  }
}
/* @media screen and (min-width: 1875px) {
  .grid .item {
    height: 200px;
  }
}

@media screen and (min-width: 1920px) {
  .capitulos {
    display: grid;
    justify-content: center;
  }
  .grid .item img {
    width: 37.5rem;
    transform: skewY(5deg) scale(1, 1);
  }
} */
